@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* color */
  --alert-color-bg: #f488885e;
  --alert-color: #f48888;
  --alert-color-2: #DA1F38;
  
  --login-pages-bg-color: #135D66;
  --default-pages-bg-color: #272727;
  --black-bg-color: #5454545d;

  --header-green-color: #77B0AA;
  --accept-color: #43CD40;

  /* border-radius */
  --border-xs: 5px;
  --border-sm: 15px;
  --border-round: 50%;

  /* img Size */
  --img-size-xs: 1.8rem;
  --img-size-sm: 4rem;
  --img-size: 6rem;
  --img-size-l: 8rem;
  --img-size-xl: 10rem;

  /* header Font Size */
  --header-font-size-sm: 1.8rem;
  --header-font-size: 2.2rem;
  --header-font-size-l: 5rem; 

  /* text font size */
  --font-size: 1.2rem;
  --font-size-sm: 0.7rem;
  --font-size-l: 1.8rem;

  /* gap */
  --gap: 1rem;
  --gap-sm: 0.5rem;
  --gap-l: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Roboto', 'sans-serif'
}

/* # Utility Class */

/* ## Image */
.img {
  --size: var(--img-size);
  width: var(--size);
  height: var(--size);
} 

.img--round {
  border-radius: 50%;
}

.img--xs {
  --size: var(--img-size-xs)
}

.img--sm {
  --size: var(--img-size-sm);
}

.img--l {
  --size: var(--img-size-l);
}

.img--xl {
  --size: var(--img-size-xl);
}


/* ## Box */
.box {
  padding: 1.5rem;
  border-radius: var(--border-sm);
}

.box--white-text {
  color: white;
}

.box--bg-black {
  background-color: var(--black-bg-color);
}

/*  */
.my-text, .my-header {
  margin: 0;
}

/* Text */
.my-text {
  font-size: var(--font-size);
}

.my-text--l {
  font-size: var(--font-size-l);
}

.my-text--sm {
  font-size: var(--font-size-sm);
}

.my-text--align-center {
  text-align: center;
}

.my-text--align-left {
  text-align: left;
}

.my-text--bold {
  font-weight: bold;
}

/* Headers */
.my-header {
  font-size: var(--header-font-size);
}

.my-header--l {
  font-size: var(--header-font-size-l);
}

.my-header--sm {
  font-size: var(--header-font-size-sm);
}

.my-header--color-green {
  color: var(--header-green-color);
}

/* button */
.my-button {
  border: 0;
  background-color: transparent;
}

/* ## Pages */
.pages {
  min-height: 100vh;
  background-color: var(--default-pages-bg-color)
}

/* gap */
.gap {
  gap: var(--gap);
}

.gap--l {
  gap: var(--gap-l);
}

.gap--sm {
  gap: var(--gap-sm);
}

/* ## Other */
.none {
  display: None !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.display-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .display-desktop { 
    display: block;
  } 

  .display-mobile {
    display: None;
  }
}