@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* color */
  --alert-color-bg: #f488885e;
  --alert-color: #f48888;
  
  --login-pages-bg-color: #135D66;
  --default-pages-bg-color: #272727;

  /* border-radius */
  --border-small: 15px;
  --border-round: 50%;

  /* img Size */
  --img-size-xs: 3rem;
  --img-size-sm: 4rem;
  --img-size: 6rem;
  --img-size-big: 8rem;
  --img-size-xl: 10rem;

  /* header Font Size */
  --header-font-size-sm: 1rem;
  --header-font-size-m: 1.8rem;
  --header-font-size-l: 5rem; 

  /* text font size */
  --font-size: 1.2rem;
  --font-size-sm: 0.7rem;
  --font-size-l: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Roboto', 'sans-serif'
}

/* # Utility Class */

/* ## Image */
.img {
  --size: var(--img-size);
  width: var(--size);
  height: var(--size);
} 

.img--round {
  border-radius: 50%;
}

.img--xs {
  --size: var(--img-size-xs)
}

.img--small {
  --size: var(--img-size-sm);
}

.img--big {
  --size: var(--img-size-big);
}

.img--xl {
  --size: var(--img-size-xl);
}


/* ## Box */
.box {
  padding: 1.5rem;
  border-radius: var(--border-small);
}

.box--white-text {
  color: white;
}

/* Text */
.my-text {
  margin: 0;
  font-size: var(--font-size);
}

.my-text--large {
  font-size: var(--font-size-l);
}

.my-text--small {
  font-size: var(--font-size-sm);
}

.my-text--text-align-center {
  text-align: center;
}

/* ## Pages */
.pages {
  min-height: 100vh;
  background-color: var(--default-pages-bg-color)
}

/* button */
.my-button {
  background-color: transparent;
  border: 0;
}

/* ## Other */
.none {
  display: None !important;
}