@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* color */
  --login-bg-color: #135D66;
  --alert-color-bg: #f488885e;
  --alert-color: #f48888;

  /* border-radius */
  --border-small: 15px;
  --border-round: 50%;

  /* Header Font Size */
  --font-size-sm: 1rem;
  --font-size-m: 1.8rem; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Roboto', 'sans-serif'
}

/* # Utility Class */

/* ##  */

/* ## Box */
.box {
  padding: 1.5rem;
  border-radius: var(--border-small);
}

