.attribute-element {
  background-color: rgb(var(--primary-green-color-rgb));
  padding: 5px 8px;
  border-radius: var(--border-xs);
  display: grid;

  & .on-hover,
  .default {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  & .on-hover {
    display: None;
  }

  &:hover {
    cursor: default;
  }
}

.attribute-element--enable-hover:hover {
  background-color: rgb(var(--secondary-alert-color-rgb));
  cursor: pointer;

  & .on-hover {
    display: flex;
  }

  & .default {
    opacity: 0;
  }
}
