.auth-page {
  background-color: var(--primary-color);

  & .form {
    width: min(500px, 80%);
    background-color: white;
    border-radius: var(--border-sm);
    margin: 1rem;

    & .auth-header {
      display: grid;
      row-gap: 0.25rem;
      
      & p, & h1 {
        margin: 0;
      }

      & .page-name {
        font-size: var(--auth-page-name-font-size);
        font-weight: lighter;
      }
    }

    & .body-box {
      & .field {
        --border-style: 2px solid;
        --border-color: black;
        margin: 10px 0;
        padding: 5px;
        border-radius: var(--border-sm);
        border: var(--border-style) var(--border-color);

        & label {
          color: rgba(0, 0, 0, 0.5);
          padding: 0 5px;
          font-size: 0.75rem;
        }

        & input {
          border: 0;
          padding: 0 5px;

          &:focus {
            outline: none;
          }
        }

      }
      
      & .error-message {
        color: rgb(var(--primary-alert-color-rgb));
      }

      & .field--error {
        --border-color: rgb(var(--primary-alert-color-rgb));
      }

      & .button-box {
        margin: 1.2rem 0;
      }
    }

    & .login-alert {
      background-color: rgba(var(--primary-alert-color-rgb), 0.6);
      color: rgb(var(--secondary-alert-color-rgb));
      padding: 0.8rem 0.5rem;
      justify-content: space-evenly;
      text-wrap: pretty;
      gap: 1rem;
    }
  }

  & .success-register {
    gap: var(--gap);
    width: auto;

    & .success-message {
      width: 60%;
    }
  }
}


@media screen and (min-width: 768px) {
  .login {
    & .form {
      & .header-box {
        flex-direction: row;
        gap: var(--gap-l);

        & .text-box {
          flex-direction: column;

          & h1,
          p {
            text-align: left;
          }
        }
      }
    }
  }

  /* Alert */
  .login-alert {
    gap: 0;
  }
}
