.bill-split-card {
  --attribute-font-size: clamp(var(--font-size-sm), 1.5vw, var(--font-size-l));
  border: 0;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: rgb(var(--black-bg-color-rgb), 0.5)
  }

  & .header-box {
    justify-content: space-between;
  }

  & .attribute-text {
    font-size: var(--attribute-font-size);
  }

  & .tag-list {
    height: min-content;
    overflow-x: auto;

    & .tag {
      flex: 0 0 auto;
      background-color: rgb(var(--primary-green-color-rgb));
      border-radius: 4px;
      padding: 3px 0.8rem;
      font-size: var(--attribute-font-size);
    }
  }

  .separator {
    --size: 5px;
    background-color: white;
  }

  & .name {
    min-width: min-content;
    font-size: clamp(var(--header-font-size-sm), 5vw, var(--header-font-size));
    text-align: left
  }
}

@media screen and (min-width: 768px) {
}
