.bill-amount {
  & .currency {
    color: rgba(255, 255, 255, 0.5);
  }

  & .input {
    background-color: transparent;
    font-size: var(--font-size-l);
    border: 0;

    &:focus {
      outline: none;
    }
  }

  & .input-total-bill {
    padding: 20px;
    border: 1px solid white;
    border-radius: var(--border-xs);
    align-items: center;


  }

  & .custom-bill {
    
    & .element {
      padding: 1rem 5vw;
      justify-content: space-between;
      border-bottom: 1px solid white;

      & .input {
        width: 15vw;
        text-align: center;
      }
    }
  }
}