.bill-split-card {
  & .header-box {
    justify-content: space-between;
  }

  & .tag-list {
    flex-wrap: wrap;

    & .tag {
      background-color: rgb(var(--primary-green-color-rgb));
      border-radius: 4px;
      padding: 3px 0.8rem;
      font-size: clamp(var(--font-size-sm), 1vw, var(--font-size));
    }
  }
  
  .separator {
    --size: 5px;
    background-color: white;
  }

  & .name {
    font-size: 1.2rem;
  }
}


@media screen and (min-width: 768px) {
  .bill-split-card {
    & .name {
      font-size: 1.6rem;
    }
  }
}
