/* # main */

/* # Input */
.text-input {
  padding: 20px;
  border: 1px solid white;
  background: transparent;
  border-radius: var(--border-xs);
  color: white;
}

.create-button {
  border-radius: var(--border-round);
  padding: 5px;

  & .img {
    --size: 2.2rem;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 5vw 15vh;
  }
}