.bill-split-box {
  display: grid;

  & .tags-list {
    margin: 0;
    padding: 0;
    gap: 1rem;

    & .tag-element {
      list-style: None;
      gap: 1rem;
      margin: 0;
      justify-content: space-between;
      border-radius: var(--border-sm);
    
      & .button {
        justify-content: space-between;
        background-color: transparent;
      }
    
      & .counter {
        padding: 0 10px;
        border: 2px solid white;
        border-radius: var(--border-xs);
      }
    }
  }

  .bill-split-list {
    padding: 0;
  
    & .header-box {
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    
    & .create-bill-split-button {
      border: 0;
      border-radius: var(--border-xs);
      padding: 3px 0.7rem;
      text-decoration: none;
    }
    
    & .plus-icon {
      --size: 2.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .bill-split-box {
    grid-template-columns: 1fr 3fr;
  }
}