/* # main */

/* # Input */
.text-input {
  padding: 20px;
  border: 1px solid white;
  background: transparent;
  border-radius: var(--border-xs);
  color: white;
}

.create-button {
  border-radius: var(--border-round);
  background-color: var(--accept-color);
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 5vw 15vh;
  }
}