.main__content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.main__left {
  background-color: purple;
}

.main__right {
  background-color: red;
}

/* Greeting */

.greeting {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.greeting__text, .greeting__username {
  margin: 0;
}

.greeting__text {
  font-size: 1.1em;
}

.greeting__username {
  font-size: 5em;
}

@media screen and (min-width: 768px) {
  .main__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
  }
  
  .main__left {
    background-color: purple;
  }
  
  .main__right {
    background-color: red;
  }
  
  /* Greeting */
  
  .greeting {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  
  .greeting__text, .greeting__username {
    margin: 0;
  }
  
  .greeting__text {
    font-size: 1.1em;
  }
  
  .greeting__username {
    font-size: 5em;
  } 
}
 