.home__main {
  gap: 2rem;
}

/* # Greeting */
.greeting {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 1rem;
}

.greeting__text, .greeting__username {
  margin: 0;
}

.greeting__username {
  font-size: 3rem;
}

/* # bill-split */
.bill-split-box {
  display: grid;
  gap: 2rem;
}

/* ## Tag */

.bill-split-tag {
  gap: 1.5rem;
}

.tags-list {
  margin: 0;
  padding: 0;
}

.tag-element {
  list-style: None;
  gap: 1rem;
  margin: 0;
  justify-content: space-between;
}

.tag-element__counter {
  padding: 0 10px;
  border: 2px solid white;
}

@media screen and (min-width: 768px) {
  .main__home {
    padding: 0;
  }
  
  .bill-split-box {
    grid-template-columns: 1fr 3fr;
  }
  
  .greeting__username {
    font-size: 6rem;
  } 
}
 