.login {
  min-height: 100vh;
  background-color: var(--login-bg-color);
}

.login--form {
  width: min(500px, 80%);
  background-color: white;
  border-radius: var(--border-small);
}

/* # Form Header */

.form--header {
  gap: 1.3rem;
  flex-direction: column;
}

.header--left {
  flex-grow: 1;
}

.header--left img {
  --size: 6rem;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
}

.header--right {
  flex-direction: column-reverse;
}

.header--right h1,
.header--right p {
  margin: 0;
  text-align: center;
}

.header--right h1 {
  font-size: 1.2rem;
}

/* # Form body */

/* ## Form Field */

.button-box {
  margin: 1.2rem 0;
}

.form--body .field {
  margin: 10px 0;
  padding: 5px;
  border-radius: var(--border-small);
  border: 2px solid black;
}

.form--body .field label {
  color: rgba(0, 0, 0, 0.5);
  padding: 0 5px;
  font-size: 0.75rem;
}

.form--body .field input {
  border: 0;
  padding: 0 5px;
}

.form--body .field input:focus {
  /* background-color: red; */
  outline: none;
}

/* # alert */
.login-alert {
  background-color: var(--alert-color-bg);
  color: var(--alert-color);
  padding: 1.5rem 0.5rem;
  justify-content: space-evenly;
  gap: 1rem;
}

.login-alert--img-wrapper img {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
}

.login-alert--message p {
  font-weight: bold;
  margin: 0;
}

.login-alert-warning {
  font-size: 0.8rem;
}

.login-alert-message {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  /* .login--form {
    min-width: 40vw;
  } */

  .form--header {
    flex-direction: row;
    gap: 1.5rem;
  }

  .header--right {
    flex-direction: column;
  }

  .header--right h1,
  .header--right p {
    text-align: left;
  }

  .header--right h1 {
    font-size: var(--font-size-m);
  }

  .form--body {
    margin: 1.5rem 0;
  }

  /* Alert */
  .login-alert {
    gap: 0;
  }

  .login-alert--img-wrapper img {
    --size: 6rem;
  }

  .login-alert-warning {
    font-size: 1rem;
  }

  .login-alert-message {
    font-size: 1.2rem;
  }
}
