.login {
  background-color: rgb(var(--secondary-green-color-rgb));

  & .form {
    width: min(500px, 80%);
    background-color: white;
    border-radius: var(--border-sm);
    margin: 1rem;

    & .header-box {
      flex-direction: column;
      gap: var(--gap);

      & .text-box {
        flex-direction: column-reverse;

        & h1,
        p {
          text-align: center;
        }
      }
    }

    & .body-box {
      & .field {
        margin: 10px 0;
        padding: 5px;
        border-radius: var(--border-sm);
        border: 2px solid black;

        & label {
          color: rgba(0, 0, 0, 0.5);
          padding: 0 5px;
          font-size: 0.75rem;
        }

        & input {
          border: 0;
          padding: 0 5px;

          &:focus {
            outline: none;
          }
        }
      }

      & .button-box {
        margin: 1.2rem 0;
      }
    }

    & .login-alert {
      background-color: rgba(var(--primary-alert-color-rgb), 0.6);
      color: rgb(var(--secondary-alert-color-rgb));
      padding: 0.8rem 0.5rem;
      justify-content: space-evenly;
      text-wrap: pretty;
      gap: 1rem;
    }
  }

  & .success-register {
    gap: var(--gap);
    width: auto;

    & .success-message {
      width: 60%;
    }
  }
}


@media screen and (min-width: 768px) {
  .login {
    & .form {
      & .header-box {
        flex-direction: row;
        gap: var(--gap-l);

        & .text-box {
          flex-direction: column;

          & h1,
          p {
            text-align: left;
          }
        }
      }
    }
  }

  /* Alert */
  .login-alert {
    gap: 0;
  }
}
