.navbar-box {
  position: sticky;
  top: 0;
  left: 0;

  & .my-navbar {
    background-color: #77b0aa;
    padding: 0.5rem 0.6rem;
  }

  & .my-menu {
    background-color: #135d66;

    & .elements {
      padding: 0.5rem 0.5rem;
      color: inherit;
      gap: 1rem;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-box {
    & .my-navbar {
      padding: 1rem 1.1rem;
      gap: 1rem;
    }
  }
}
