.my-navbar {
  background-color: #77B0AA;
  color: white;
  padding: 1rem 1.1rem;
  position: sticky;
  top: 0;
  left: 0;
  gap: 1rem;
}

.my-navbar__title {
  margin: 0;
  text-align: center;
}

.my-navbar__option {
  gap: 1rem;
}

/* This class is use to disable an element if not in a width of a desktop (min-width: 768px)  */
.option__display-desktop {
  display: none
}

.my-navbar__logout-button {
  background-color: transparent;
  border: 0;
}

@media screen and (min-width: 768px) {
  .option__display-mobile {
    display: none;
  }

  .option__display-desktop {
    display: block;
  }
}