.search-box {
  background-color: rgb(var(--default-pages-bg-color-rgb));
  border-radius: var(--border-sm);
  width: 65vw;
  height: 60vh;
  padding: 20px;

  align-items: start;

  & .content-box {
    padding: 0 1rem;
    
    & .search {
      background-color: rgb(84,84,84);
      padding: 10px;
      border-radius: var(--border-sm);
      width: 80%;
  
      & .search-input {
        background-color: transparent;
        font-size: 1.5rem;
        border: 0;

        &:focus {
          outline: none;
        }
      }
    }

    & .query-list {
      width: 80%;
      max-height: 35vh;
      overflow: auto;

      & .element {
        border-bottom: 1px solid white;
        padding: 0.8rem;

        &:hover {
          background-color: rgb(var(--primary-green-color-rgb));
        }
      }
    }
    
  }
}