.exit {
  --bg-color: transparent;
  --color: white;
  --border-style: 0;
  background-color: var(--bg-color);
  color: var(--color);
  border: var(--border-style);
}

.top-layer-page {
  width: 80vw;
  height: 70vh;
  background-color: rgb(var(--default-pages-bg-color-rgb))
}