.exit {
  --bg-color: transparent;
  --color: white;
  --border-style: 0;
  
  background-color: var(--bg-color);
  color: var(--color);
  border: var(--border-style);
}

.top-layer-page {
  --width: max(60vw, 400px);
  --height: clamp(500px, 70vh, 550px);
  --margin-size: var(--space-sm);
  
  width: var(--width);
  height: var(--height);
  background-color: rgb(var(--default-pages-bg-color-rgb));
  margin: var(--margin-size);
}