.exit {
  --bg-color: transparent;
  --color: white;
  --border-style: 0;
  background-color: var(--bg-color);
  color: var(--color);
  border: var(--border-style);
}

.top-layer-page {
  --min-width: 90vw;
  --min-height: 70vh;
  
  width: var(--min-width);
  min-height: var(--min-height);
  background-color: rgb(var(--default-pages-bg-color-rgb))
}

@media screen and (min-width: 576px) {
  .top-layer-page {
    --min-width: 80vw

  }
}